apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert -f docker-compose.yml -o /home/kilo/Desktop/Kilo_Ai_microservice/k3s-kompose/
    kompose.version: 1.34.0 (cbf2835db)
  labels:
    io.kompose.service: frontend
  name: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: frontend
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert -f docker-compose.yml -o /home/kilo/Desktop/Kilo_Ai_microservice/k3s-kompose/
        kompose.version: 1.34.0 (cbf2835db)
      labels:
        io.kompose.service: frontend
    spec:
      containers:
        - env:
            - name: ALLOW_NETWORK
              value: "false"
          image: kilo/frontend:latest
          livenessProbe:
            exec:
              command:
                - curl
                - -f
                - http://localhost/
            failureThreshold: 3
            initialDelaySeconds: 5
            periodSeconds: 30
            timeoutSeconds: 3
          name: kilo-frontend
          ports:
            - containerPort: 80
              protocol: TCP
            - containerPort: 443
              protocol: TCP
      restartPolicy: Always
